DATABASE_URL="postgresql://user:password@localhost:5432/turbo_doc"

AWS_BUCKET_NAME="your-s3-bucket-name"
AWS_ACCESS_KEY_ID="your-aws-access-key-id"
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
AWS_S3_REGION="us-east-1"

BETTER_AUTH_SECRET="your-random-secret-here"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

API_URL="http://localhost:4000"

TEST_API_KEY="rzp_test_your_key_id_here"
TEST_API_SECRET="your_razorpay_secret_here"
TEST_API_WEBHOOK_SECRET="your_webhook_secret_here"


GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
